<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='plugins/bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet">
    <title>{{config.SITE_TITLE}}</title>
</head>

<body class="bg-light">
    <div class="container">
        <header class="row">
            {% block navbar %}
                {% include 'includes/navbar.html' %}
            {% endblock %}
        </header>

        <div class="row mt-3">
            {% block content %} {% endblock %}
        </div>
    </div>

    <script type="text/javascript"
        src="{{ url_for('static', filename='plugins/bootstrap5/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
