{% extends "base.html" %}

{% block content %}
<content class="row">
    <h4>{{ selected_city.name }}</h4>
</content>
<hr>
<div class="row">
    <h5 class="text-center">
        Vrijednosti peluda u posljednjih 30 dana
    </h5>
</div>
<script type="text/javascript">
(function() {
    function measurementDataLoaded(data) {
        console.log(data);
    }

    fetch('/api/measurements/{{selected_city.external_id}}')
        .then(response => response.json())
        .then(data => measurementDataLoaded(data));

})();

</script>
{% endblock %}
